BACKEND_URL=http://localhost:8000
TRANSLATION_API_URL=http://localhost:5001
TTS_API_URL=http://localhost:5002/tts
TELEGRAM_BOT_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
